.backdrop-add {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $backdrop-color;
  opacity: 1;
  transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1);
  &.is-hiden {
    opacity: 0;
    pointer-events: none;
  }
}

.modal-add {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 290px;
  height: 780px;
  padding: 10px 20px;
  background-color: $main-bg-color;
  border-radius: 5px;

  @media screen and(min-width: $tablet-breakpoint) {
    padding: 55px;
    width: 725px;
    height: 700px;
  }
  @media screen and(min-width: $desktop-breakpoint) {
  }
  &.is-open {
    display: block;
  }
}

.wraper {
  @media screen and(min-width: $tablet-breakpoint) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }
}

.close-modal-add-btn {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  border-radius: 50%;

  &:hover {
    background-color: $orange-color;
    fill: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
}
.add-main-text {
  margin-bottom: 20px;
}

.add-text {
  margin-bottom: 10px;
  @media screen and (min-width: $tablet-breakpoint) {
    margin: 0px 0px 10px 0px;
  }
}

.name-product {
  width: 250px;
  height: 55px;

  @media screen and (min-width: $tablet-breakpoint) {
    width: 460px;
    height: 55px;
  }
}

.div-add-foto {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  @media screen and (min-width: $tablet-breakpoint) {
    margin-right: 250px;
  }
}

.div-input-file {
  position: relative;
  margin: 15px 10px 15px 0px;
  text-align: center;
}

.input-file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.icon-input {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 60px;
  width: 60px;

  background-color: #bbbbbb;
  border-radius: 2px;

  &:hover {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }
}

.textarea,
.category-list,
.price,
.phone {
  width: 250px;
  height: 55px;

  @media screen and (min-width: $tablet-breakpoint) {
    width: 460px;
    height: 55px;
  }
}

.submit-btn {
  width: 250px;
  height: 55px;
  margin-top: 15px;

  color: #ffffff;
  background-color: $orange-color;

  @media screen and (min-width: $tablet-breakpoint) {
    width: 266px;
    height: 60px;
    margin-left: 155px;
  }
  &:hover {
    color: black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
}
