<footer class="footer">
    <div class="copirite">
        <span class="copirite-span-icon">
            <svg class="copirite-icon" width="18" height="18">
                <use href="./images/sprite.svg#icon-copirite">
                </use>
            </svg>
            2021
        </span>
        <span class="copirite-span">All Rights Reserved</span>
    </div>
    <div class="copirite">
        <span class="copirite-span-dev">Developed with
            <svg class="hearth-favorite" width="18" height="18">
                <use href="./images/sprite.svg#icon-favorite-heart"></use>
            </svg> by GoIT Student</span>
        <span></span>
    </div>
</footer>