<header class="header">
  <!-- 1 div -->
  <div class="primary-header-div">
    <button
      class="menu-btn"
      type="button"
      data-menu-button
      aria-expanded="false"
    >
      <svg
        class="icom-burger-menu"
        width="20"
        height="20"
        aria-label="мобильное меню"
      >
        <use href="./images/sprite.svg#icon-burger-menu"></use>
      </svg>
    </button>

    <div class="backdrop is-hiden" data-backdrop>
      <ul class="navigation">
        <li class="item-nav li-dn-for-desktop">
          <button class="close-btn" type="button" data-close-menu-button>
            <svg class="icon-close" width="14" height="14">
              <use href="./images/sprite.svg#icon-close"></use>
            </svg>
          </button>
        </li>

        <li class="item-nav li-dn-for-desktop li-user" data-open-modal-auth>
          <span class="item-nav-span">
            <svg class="icon-user" width="20" height="20">
              <use href="./images/sprite.svg#icon-user"></use>
            </svg>
            <span class="span-my-office">Реєстрація / Увійти</span>
          </span>
        </li>

        <li class="item-nav li-dn-for-desktop li-user sub-menu">
          <div class="kabinet">
            <span class="item-nav-span">
              <svg class="icon-user" width="20" height="20">
                <use href="./images/sprite.svg#icon-user"></use>
              </svg>
              <span class="span-my-office">Мій кабінет</span>
            </span>

            <button type="button" class="logout-btn" data-logout-btn>
              <svg class="icon-logout" width="20" height="20">
                <use href="./images/sprite.svg#icon-logout"></use>
              </svg>
            </button>
          </div>

          <ul class="sub-menu-list">
            <li class="sub-menu-item">
              <span class="item-nav-span">Мої оголошення</span>
            </li>
            <li class="sub-menu-item">
              <span class="item-nav-span">Обране</span>
            </li>
          </ul>
        </li>

        <li class="item-nav" data-property>Нерухомість</li>
        <li class="item-nav" data-transport>Транспорт</li>
        <li class="item-nav" data-work>Робота</li>
        <li class="item-nav" data-electronics>Електроніка</li>
        <li class="item-nav" data-business-and-services>Бізнес та послуги</li>
        <li class="item-nav" data-recreation-and-sport>Відпочинок і спорт</li>
        <li class="item-nav" data-free>Віддам безкоштовно</li>
        <li class="item-nav" data-trade>Обмін</li>
      </ul>
    </div>

    <div class="navigation-desktop">
      <ul class="nav-desktop-list">
        <li class="nav-desktop-item" data-property>Нерухомість</li>
        <li class="nav-desktop-item transport" data-transport>Транспорт</li>
        <li class="nav-desktop-item" data-work>Робота</li>
        <li class="nav-desktop-item" data-electronics>Електроніка</li>
        <li class="nav-desktop-item" data-business-and-services>
          Бізнес та послуги
        </li>
        <li class="nav-desktop-item" data-recreation-and-sport>
          Відпочинок і спорт
        </li>
        <li class="nav-desktop-item" data-free>Віддам безкоштовно</li>
        <li class="nav-desktop-item" data-trade>Обмін</li>
      </ul>
    </div>

    <div class="clear-filter-div">
      <button class="clear-btn" type="button" data-clean>
        <svg class="clear-icon" width="20" height="20">
          <use href="./images/sprite.svg#icon-clear"></use>
        </svg>
        <span>Очистити фільтри</span>
      </button>
    </div>
  </div>

  <!-- 2 div -->
  <div class="secondary-header-div">
    <button
      class="search-btn-tablet search-btn"
      data-buttonsSearch
      type="button"
    >
      <svg class="search-icon" width="18" height="18">
        <use href="./images/sprite.svg#icon-search"></use>
      </svg>
    </button>

    <div class="logo">
      <svg class="icon-logo" width="50" height="20">
        <use href="./images/sprite.svg#icon-logo"></use>
      </svg>
    </div>

    <div class="desk-div-mix">
      <div class="div-user-tablet">
        <button class="btn-user-tablet" type="button" data-open-modal-auth>
          <svg class="icon-user-tablet" width="20" height="20">
            <use href="./images/sprite.svg#icon-user"></use>
          </svg>
          <span class="span-user-tablet">Мій кабінет</span>
        </button>
      </div>

      <div class="logout-desktop">
        <buttom class="logout-desk-btn" type="button" data-logout-btn>
          <svg class="icon-logout-desk" width="20" height="20">
            <use href="./images/sprite.svg#icon-logout"></use>
          </svg>
        </buttom>
      </div>

      <button class="search-btn-mobile" data-buttonsSearch type="button">
        <svg class="search-icon" width="18" height="18">
          <use href="./images/sprite.svg#icon-search"></use>
        </svg>
      </button>

      <div class="add-dvert">
        <button type="button" class="add-advert-btn" data-open-modal-add>
          Створити оголошення!
        </button>
      </div>
    </div>
  </div>
</header>
