<header class="header">
    <button class="menu-btn" type="button" data-menu-button aria-expanded="false">
        <svg class="icom-burger-menu" width="20" height="20" aria-label="мобильное меню">
            <use href="./images/sprite.svg#icon-burger-menu"></use>
        </svg>
    </button>


    <!-- <div class="backdrop-menu is-hiden"> -->
    <nav class="navigation">
        <ul>
            <li class="item-nav">
                <button class="close-btn" type="button" data-close-menu-button>
                    <svg class="icon-close" width="14" height="14">
                        <use href="./images/sprite.svg#icon-close"></use>
                    </svg>
                </button>
            </li>
            <li class="item-nav li-user">
                <svg class="icon-user" width="20" height="20">
                    <use href="./images/sprite.svg#icon-user"></use>
                </svg>
                <span class="span-my-office">Реєстрація / Увійти</span>
            </li>


            <li class="item-nav li-user sub-menu">
                <div class="kabinet">
                    <svg class="icon-user" width="20" height="20">
                        <use href="./images/sprite.svg#icon-user"></use>
                    </svg>
                    <span class="span-my-office">Мій кабінет</span>
                    <svg width="20" height="20">
                        <use href="./images/sprite.svg#icon-logout"></use>
                    </svg>
                </div>
                <ul class="sub-menu-list">
                    <li class="sub-menu-item">Мої оголошення</li>
                    <li class="sub-menu-item">Обране</li>
                </ul>
            </li>



            <li class="item-nav">Нерухомість</li>
            <li class="item-nav">Транспорт</li>
            <li class="item-nav">Робота</li>
            <li class="item-nav">Електроніка</li>
            <li class="item-nav">Бізнес та послуги</li>
            <li class="item-nav">Відпочинок і спорт</li>
            <li class="item-nav">Віддам безкоштовно</li>
            <li class="item-nav">Віддам безкоштовно</li>
            <li class="item-nav">Обмін</li>
        </ul>
    </nav>
    <!-- </div> -->

    <div class="logo">
        <svg class="icon-logo" width="50" height="20">
            <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
    </div>

    <button class="searc-btn" type="button">
        <svg class="search-icon" width="18" height="18">
            <use href="./images/sprite.svg#icon-search"></use>
        </svg>
    </button>

</header>