<div class="auth-backdrop is-hiden">
  <div class="modal-auth is-open">
    <button class="close-modal-auth-btn" type="button">
      <svg class="icon-close-modal-auth" width="14" height="14">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <p class="modal-auth-text">
      Ви можете авторизуватися за допомогою Googlt Account:
    </p>
    <button class="google-auth-btn" type="button">
      <svg class="icone-google" width="25" height="25">
        <use href="./images/sprite.svg#icon-google-symbol"></use>
      </svg>
      Google
    </button>
    <p class="modal-auth-text">
      Або зайти за допомогою імейлу і пароля, попередньо зареєструвавшись:
    </p>

    <input type="text" class="auth-input" placeholder="E-mail" />
    <input type="text" class="auth-input" placeholder="Password" />

    <div class="div-buttons-enter">
      <button class="modal-auth-enter-btn enter-btn">Увійти</button>
      <button class="modal-auth-enter-btn">Зареєструватись</button>
    </div>
  </div>
</div>
