<div class="backdrop is-hiden" data-search-backdrop>
  <div class="modal-search">
    <buton type="button" class="close-modal-search-btn" data-modal-search-close>
      <svg class="icon-close-modal-search" width="14" height="14">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </buton>

    <input type="text" class="input-modal-search" placeholder="Пошук" />

    <button type="button" class="btn-search-modal-search">
      <svg class="icon-search-modal-search" width="20" height="20">
        <use href="./images/sprite.svg#icon-search"></use>
      </svg>
    </button>

    <p class="tex-for-bad-status">bad status</p>
  </div>

  <!-- <div class="modal-search">
    <button type="button" class="button-close" data-action="close-modal-search">
      <svg class="icon-close" width="15" height="15">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <form>
      <input type="text" class="search-input" placeholder="Пошук" />
      <button
        tupe="button"
        class="button-magnifire"
        data-action="button-magnifire-on-search-modal"
      >
        <svg
          width="24"
          height="24"
          aria-label="Поиск товаров"
          class="icon-modal-search-magnifer"
        >
          <use class="icon-search" href="./images/sprite.svg#icon-search"></use>
        </svg>
      </button>
      <p class="text-for-status-no-ok"></p>
    </form>
  </div> -->
</div>
